.screen {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.fix {
    display: flex;
    flex: 0 1 auto;
}

.expand {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    border: 1px solid rebeccapurple;
}

.scrollable{
    overflow: auto;
}